GOOGLE_SITE_VERIFICATION=

# Google Search Console API
GSC_SITE_URL=sc-domain:actcreative.net
GSC_SERVICE_ACCOUNT_KEY_FILE=
GSC_SERVICE_ACCOUNT_JSON=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_SPREADSHEET_ID=
